#api-network
/api-network/logs/
/api-network/target/
!api-network/.mvn/wrapper/maven-wrapper.jar
/api-network/.idea
/api-network/nbproject/private/
/api-network/build/
/api-network/nbbuild/
/api-network/dist/
/api-network/nbdist/
/api-network/.nb-gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/